html {
	scroll-behavior: smooth;
}

.button a {
	color: #fcc603;
}

.button a:hover {
	color: green;
}

.GA a {
	color: #fcc603;
	text-decoration: none;
}

.GA a:hover {
	color: #fc9803;

}

.about h1{
font-size: 80px;
color: white;
}

.about-p {
	color: #bfbfbf;
}

/*.intro-about {
	align-content: center;
}
*/

.contact span {
	color: black;
	margin-bottom: 2px;
}
span{
	color: green;
}

h1 {

}


h2 {
	
	margin: 0;
	color: white;
	text-align: center;
}

h4 {
	color: white;
	margin: 0;
}

.GA {
	text-decoration: underline;
}

.date {
	font-weight: bold;
	margin: 5px;
}

.experience h6 {
	/*font-weight: bold;*/
	color: white;
}

footer p {
	margin: 0;
}

.navbar {
	box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

.bluebox {
	background: #343b4e;
	height: auto;

}

.about {
	background: #fdedda ;
	/*background-image: url("https://i.imgur.com/GdYuGwc.png");*/
	background-image: url("https://i.imgur.com/lnYBJZw.png");
	
	/*margin-top: 20px;*/
}

.about h3 {
	color: white;

}

.about-p{
	font-weight: bold;
}

.professional {
	background: #0a1223;
	margin: 0;
	height: auto;
}

.professional h2 {
	font-size: 40px;
}

.professional h3 {
	color: #bfbfbf;
	text-align: center;
	font-size: 20px;
}

.projects {
/*	background: #344256 ;
*/	background: #556884;
	margin: 0;
	height: auto;
}

.projects h2 {
	font-size: 40px;
}

.projects h3 {
	color: #bfbfbf;
	text-align: center;
	font-size: 20px;
}

.project-image {
	height: 200px;
	display: inline;
	margin: 2px;
}

.experience {
	background: #246e32;
	margin: 0;
	height: auto;
}

.experience h2 {
	font-size: 40px;
}

.line {
	border-right: 1px solid black
}

.contact {
	background: #bfbfbf ;
	margin: 0;
	height: 300px;
}

.social {
	height: 35px;
	padding: 2px;
}

footer {
	background: #bfbfbf;

}